.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px (rgb 0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #fd5959;
  border-radius: 6px;
  color: #fd7f59;
}
